{% load static %}

<link rel="stylesheet" href="{% static '../static/css/footer.css' %}">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Descubra Aponte Cafés</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="footer-section">
            <h3>Cadastre sua cafeteria</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="footer-section">
            <h3>O café mais próximo de você</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="footer-logo">
            <img src="{% static 'images/logo-branca.png' %}" alt="Aponte Cafés Logo">
        </div>
        <div class="footer-links">
            <a href="#">Sobre</a>
            <a href="#">Ajuda</a>
            <a href="#">Legal</a>
        </div>
    </div>
</footer>