<!-- BASE.HTML -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aponte Cafés</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .corpo {
            flex: 1;
        }
    </style>
</head>

<body> <!--NÃO APAGAR ESSE BODY E NEM ACRESCENTAR O </body> -->