{% load static %}
<link rel="stylesheet" href="{% static '../static/css/style_menu.css' %}">
<header>
    <div class="cabecalho">
        <div class="div-logo">
            <a href="{% url 'home' %}">Aponte Cafés</a>
        </div>
        <div class="div-menu">
            <ul>
                <li class="nav-item">
                    <a href="{% url 'cadastro_cafeteria' %}">Cadastrar Café</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'favoritos' %}">Favoritos</a>
                </li>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
        </div>
</header>