<nav>
    <div>
        <a href="{% url 'home' %}">Aponte Cafés</a>
        <button>
            <span></span>
        </button>
        <div>
            <div>
                <a href="{% url 'cadastro_cafeteria' %}">Cadastrar Café</a>
                <a href="{% url 'favoritos' %}">Favoritos</a>
            </div>
        </div>

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</nav>