{% extends 'global/base_sem_footer.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/cadastro_user.css' %}">

<section class="section">
    <div class="container">
        <h2>Criar conta</h2>
        {% if messages %}
        <div class="messages">
            <!-- Filtro para mostrar apenas mensagens relacionadas ao cadastro de usuário -->
            {% for message in messages %}
                {% if 'cadastro_usuario' in message.tags %}
                    <div class="{{ message.tags }}">
                      <p style="color: red;">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" class="form-outter">
            {% csrf_token %}
            <div class="form-box2">
                <label for="name">Seu nome:</label>
                <input type="text" id="name" name="name" required><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required><br>
                <label for="confirm_password">Confirme sua senha:</label>
                <input type="password" id="confirm_password" name="confirm_password" required><br>
                <label for="is_business">Cadastrar como proprietário:</label><br>
                <input type="checkbox" id="is_business" name="is_business"><br>
            </div>
            <button type="submit" class="criar-conta">Criar conta</button>
        </form>
    </div>
</section>

{% endblock %}
