{% extends 'global/base_empresario.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/cadastro_cafeteria.css' %}">

<section class="section">
  <a href="{% url 'home' %}">
    <img class="img" src="{% static 'images/logo.png' %}" alt="Logo">
  </a>
  <div class="container">
    {% if erro %}
    <p style="color: black;">{{ erro }}</p>
    {% endif %}
    {% if messages %}
    <div class="messages">

      {% for message in messages %}
      <div class="{{ message.tags }}">
        <p style="color: black;">{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
    <form action="{% url 'cadastro_cafeteria' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-outter">
        <div class="form-box1" id="form1">
          <div class="campo">
            <label for="nome_cafeteria">Nome da Cafeteria:</label>
            <input type="text" id="nome_cafeteria" name="nome_cafeteria" required>
          </div>
          <div class="campo">
            <label for="responsavel">Nome do responsável:</label>
            <input type="text" name="responsavel" id="responsavel" required>
          </div>
          <div class="campo">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required>
          </div>
          <div class="campo">
            <label for="descricao">Descrição do estabelecimento:</label>
            <textarea id="descricao" name="descricao" required></textarea>
          </div>
          <div class="campo">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
          </div>
        </div>
        <div class="form-box2" id="form2">
          <div class="campo">
            <label for="horas_funcionamento">Horário/dias de funcionamento:</label>
            <input type="text" id="horas_funcionamento" name="horas_funcionamento" required>
          </div>
          <div class="campo">
            <label for="link_redesocial">Link de perfil do instagram:</label>
            <input type="url" id="link_redesocial" name="link_redesocial" required>
          </div>
          <div class="campo">
            <label for="site_cafeteria">Site da Cafeteria (opcional):</label>
            <input type="url" name="site_cafeteria" id="site_cafeteria">
          </div>
          <div class="campo">
            <label for="cnpj">CNPJ (apenas números):</label>
            <input type="text" name="cnpj" id="cnpj" required>
          </div>
          <div class="campo">
            <label for="whatsapp">Whatsapp da empresa (sem espaço e apenas números):</label>
            <input type="tel" id="whatsapp" name="whatsapp">
          </div>
          <div class="campo">
            <label for="foto_ambiente">Para deixar seu perfil mais atrativo, 
              adicione fotos da sua cafeteria:</label><br>
            <input class="inputfile" type="file" id="file" name="file" accept="image/*">
            <label for="file">Escolher imagem</label>
          </div>
        </div>
    </div>
    <button type="submit" class="cadastrar">Cadastrar</button>
    </form>
  </div>
</section>
{% endblock %}
