{% extends 'global/base.html' %}

{% block content %}
{% load static %}
<style>
    #carouselExampleIndicators .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .collums {
        padding: 0 20px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .card {
        margin: 0 15px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(auto-fill, 300px);
        overflow: hidden;
    }

    #carouselExampleIndicators,
    .collums {
        font-family: Helvetica, sans-serif;
    }

    .btn {
        background-color: #fff;
        border: 0px;
    }
    .btn :hover{
        border: 0px;

    }

</style>
<div class="container mt-5">
        <div class="col-md-6">
                <div class="cards">
                    <div class="card">
                        <div class="carousel-inner">
                            {% if cafe.foto_ambiente %}
                            <div class="carousel-item active">
                                <img src="{{ cafe.foto_ambiente.url }}" class="d-block w-100" alt="{{ cafe.nome }}">
                            </div>
                            {% else %}
                            <div class="carousel-item active">
                                <svg class="bd-placeholder-img d-block w-100" width="100%" height="500"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="45%" y="50%" fill="#eceeef" dy=".3em">{{ cafe.nome_cafeteria }}</text>
                                </svg>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="col-md-6">
                        <div class="collums">
                            <h2 style="font-weight: bold; font-size: 50px;">{{ detalhes_cafe.nome }}</h2>
            
                            <h5>Descrição:</h5>
                            <p>{{ detalhes_cafe.descricao }}</p>
            
                            <h5>Endereço:</h5>
                            <p>{{ detalhes_cafe.endereco }}</p>
            
                            <h5>Horário de Funcionamento:</h5>
                            <p>{{ detalhes_cafe.horas_funcionamento }}</p>
            
                            <h5>WhatsApp:</h5>
                            <p>{{ detalhes_cafe.whatsapp }}</p>
            
                            <div class="btn-group">
                                <div class="btn-group">
                                    {% if user.is_authenticated %}
                                        {% if cafe %}
                                            {% if favorito %}
                                                <button class="btn"><a href="{% url 'favoritar' cafe.id %}"><img style="height: 20px;" src="{% static '../static/images/desfavoritar.png' %}"></a></button>
                                            {% else %}
                                                <button class="btn"><a href="{% url 'favoritar' cafe.id %}"><img style="height: 20px;" src="{% static '../static/images/favoritar.png' %}"></a></button>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <button class="btn"><a href="{% url 'login' %}"><img style="height: 10px;" src="{% static '../static/images/favoritar.png' %}"></a></button>
                                    {% endif %}
                                </div>
                            <button class="btn"><a href="{% url 'enviar_whatsapp' cafe.id %}" style="color: black;">Enviar Mensagem via WhatsApp</a></button>
                        </div>
                </div>
                </div>
            </div>
        </div>

        <!-- Conteúdo à direita -->

</div>
{% endblock %}