{% extends 'global/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Enviar Email</title>
</head>
<div>
    <h1>Enviar Email para {{ cafeteria.nome }}</h1>
    <form method="post">
        {% csrf_token %}
        <textarea name="mensagem" rows="4" cols="50" placeholder="Escreva sua mensagem aqui..."></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'perfil-cafeteria' cafe_id=cafeteria.id %}">Voltar ao Perfil</a>
</div>
{% endblock %}
