{% extends "global/base.html" %}
{% block content %}
{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    h1 {
        padding-left: 20px;
    }

    .card {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        margin: 0;
        color: #333333;
        font-size: 18px;
        font-weight: bold;
    }

    .card-text {
        color: #666666;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .btn-outline-secondary {
        color: #333333;
        border-color: #333333;
    }

    .btn-outline-secondary:hover {
        background-color: #ccc;
        border: 1px solid #ccc;
        color: #000;
    }

    .text-body-secondary {
        color: #888888;
        font-size: 14px;
    }
    .row {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .card {
        margin: 0 15px 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(auto-fill, 300px);
        overflow: hidden;
    }
    .foto-cafe {
        display: flex;
        width: 100%;
        height: 225px;
        overflow: hidden;

    }
.box img {
  width: 100%;
  height: 100%;
}

.box1 img {
  object-fit: cover;
}
.right{
    position: absolute;
    margin-left: 330px;
}

</style>
    {% if user.is_authenticated %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <h1>Favoritos</h1>
                    <div class="cards">                
                {% for favorito in favoritos %}
                <div class="card shadow-sm">
                    {% if favorito.cafe.foto_ambiente %}
                    <img src="{{ favorito.cafe.foto_ambiente.url }}" class="foto-cafe" alt="{{favorito.cafe.nome }}" preserveAspectRatio="xMidYMid slice">
                    {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="40%" y="50%" fill="#eceeef"
                            dy=".3em">{{favorito.cafe.nome_cafeteria }}</text>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                    <div class="right btn-group">
                        <a href="{% url 'favoritar' favorito.cafe.id %}" class="btn-outline-secondary"><img style="height: 20px;" src="{% static '../static/images/desfavoritar.png' %}"></a>
                    </div>
                        <h5 class="card-title">{{favorito.cafe.nome_cafeteria }}</h5>
                        <p class="card-text">{{ favorito.cafe.get_short_description}}</p>
                        <div> 
                            
                            <div class="btn-group">
                                <a href="{% url 'detalhes' favorito.cafe.id %}" class="btn btn-sm btn-outline-secondary">ver mais</a>
                            </div>
                            <small class="text-body-secondary">
                                {{favorito.cafe.horas_funcionamento }}</small>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                    </div>
                </div>

    {% else %}
        <h1 style="font-family: Helvetica, sans-serif; font-weight: bold;">Meus Favoritos</h1>
        <p>Por favor, faça login para ver seus favoritos.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock %}
