{% extends "global/base.html" %}
{% block content %}
<div class="container">
    <form class="login" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <h2>{{ title }}</h2>

        <div class="box-user">
            <label>Nome de usuário:</label><br>
            <input type="text" name="username" required><br>
        </div>

        <div class="box-user">
            <label>Senha:</label><br>
            <input type="password" name="password" required><br>
        </div>
        <button type="submit" class="btn btn-light">Entrar</button>
    </form>
</div>
{% endblock content %}