{% extends "global/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '../static/css/style_login.css' %}">
<section class="section">
    <div class="container">
        <h1>Entrar no Aponte Cafés</h1>
        <form class="login" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <h2>{{ title }}</h2>
            <div class="radio-options">
                <div class="radio-option">
                    <input type="radio" id="cliente" name="tipo_usuario" value="cliente" checked>
                    <label for="cliente">Cliente</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="cafeteria" name="tipo_usuario" value="cafeteria">
                    <label for="cafeteria">Cafeteria</label>
                </div>
            </div>
            <div class="box-user">
                <label>Nome de usuário:</label><br>
                <input type="text" name="username" required><br>
            </div>
        
            <div class="box-user">
                <label>Senha:</label><br>
                <input type="password" name="password" required><br>
            </div>
            <button type="submit" class="btn-submit">Entrar</button>
            <div class="signup-message">
                <p>Não tem cadastro? Crie sua conta:</p>
                <a href="{% url 'UserCadastro' %}?tipo_usuario=cliente" class="btn btn-light">Cliente</a>
                <a href="{% url 'cadastro_cafeteria' %}?tipo_usuario=cafeteria" class="btn btn-light">Cafeteria</a>
            </div>
        </form>        
    </div>
</section>
{% endblock content %}