{% extends "global/base.html" %}
{% block content %}
<div class="container">
    <form class="login" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <h2>{{ title }}</h2>

        <div>
            <input type="radio" id="cliente" name="tipo_usuario" value="cliente" checked>
            <label for="cliente">Cliente</label>
            <input type="radio" id="cafeteria" name="tipo_usuario" value="cafeteria">
            <label for="cafeteria">Cafeteria</label>
        </div>

        <div class="box-user">
            <label>Nome de usuário:</label><br>
            <input type="text" name="username" required><br>
        </div>

        <div class="box-user">
            <label>Senha:</label><br>
            <input type="password" name="password" required><br>
        </div>

        <button type="submit" class="btn btn-light">Entrar</button>

        <div>
            <p>Não tem cadastro? <a href="{% url 'user_cadastro' %}" class="forget">Crie sua conta</a>.</p>
        </div>
    </form>
</div>
{% endblock content %}