{% extends "global/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '../static/css/style_reservas.css' %}">
<section class="section">
    <div class="container">
        <h1>Minhas Reservas</h1>
        <ul class="reservas-list">
            {% for reserva in reservas %}
                <li class="reserva-item">
                    <strong>Café: {{ reserva.cafe.nome_cafeteria }}</strong><br>
                    Data: {{ reserva.data_reserva }}<br>
                    Horário: {{ reserva.horario_reserva }}<br>
                    Número de Pessoas: {{ reserva.numero_de_pessoas }}<br>
                    Status: {{ reserva.status }}<br>
                </li>
            {% empty %}
                <li class="reserva-item">Você não tem reservas.</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}