* {
    box-sizing: border-box;
}

.botao {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--cor-botoes);
    color: var(--branco-navbar);
    padding: 10px 18px;
    width: 170px;
    height: auto;
    cursor: pointer;
    font-weight: bold;
    text-align: center; 
    margin: 18px;
}

.botao:hover {
    background-color: #B27054;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

