@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
:root {

    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal:#1D1D1B;
    --branco-navbar:#FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes:#A75938;
    --fonte-principal: 'Bricolage Grotesque';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.div {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12em;
    padding: 15px;
}
h1 {

    color: black;
}

.img-check {

    max-width: 220px;
    max-height:220px;
    width: auto;
    height: auto;
    padding-bottom: 2em;
}

.botao-pag-inicial {
    padding: 10px;
    display: block;
    padding: 10px 5px;
    margin: 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}