@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {

    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal:#1D1D1B;
    --branco-navbar:#FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes:#A75938;
    --fonte-principal: 'Bricolage Grotesque';
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

.container {
    width: 33vw;
    height: 78vh;
    background-color: var(--branco-fundo);
    box-shadow: rgba(0, 0, 0, 0.2) 0.5px 3px 2.6px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
    margin-top: 60px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box1, .form-box2  {
    max-width: 30vw;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"] {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw; 
    height: 35px;
    border: 1px solid var(--preto-principal);
    border-radius: 7px;
    background-color: var(--branco-principal);

}

@media (max-width: 768px) {
    .container {
        width: 80vw;
        padding: 2rem;
        flex-direction: column;
    }
}

.criar-conta {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    width: 140px;
    height: 10px;
    cursor: pointer;
    background-color: var(--cor-botoes);
    color: var(--branco-navbar);
    font-weight: bold;
    font-size: 15px;
}

.criar-conta:hover{
    background-color: var(--cor-principal); 
    color: #FFFFFF;
}

.section {

    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin-bottom: 15px;
}