
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
:root {

    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal:#1D1D1B;
    --branco-navbar:#FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes:#A75938;
    --fonte-principal: 'Bricolage Grotesque';
}

* {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.collums {
    padding: 0 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    padding: 50px;
    margin: 0 15px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(auto-fill, 700px);
    overflow: hidden;
}

#carouselExampleIndicators,
.collums {
    font-family: Helvetica, sans-serif;
}

.btn {
    background-color: #fff;
    border: 0px;
}

.btn :hover {
    border: 0px;

}

 /* Estilos específicos para a seção de avaliações */
 .container2 {
    margin-top: 20px;
}

.review-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    align-items: center;
}

.review-header img {
    border-radius: 50%;
    margin-right: 10px;
}

.review-header h4 {
    margin: 0;
    font-size: 18px;
}

.stars {
    color: #f5b301;
}

.review-content {
    margin-top: 10px;
}

.review-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
}
