@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
:root {

    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal:#1D1D1B;
    --branco-navbar:#FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes:#A75938;
    --fonte-principal: 'Bricolage Grotesque';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.div {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12em;
    padding: 15px;
}
h1 {

    color: black;
}

.img-check {

    max-width: 220px;
    max-height:220px;
    width: auto;
    height: auto;
    padding-bottom: 2em;
}

.botao-pag-inicial {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--cor-botoes);
    color: var(--branco-navbar);
    padding: 11px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;   
    display: inline-block; 
}
.botao-pag-inicial:hover{
    background-color: var(--cor-principal);
}