/* perfil_usuario.css */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');

:root {
    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal: #1D1D1B;
    --branco-navbar: #FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes: #A75938;
    --fonte-principal: 'Bricolage Grotesque';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.perfil-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icone-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--cor-principal);
    margin-right: 20px;
}

.nome-completo {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 8rem;
}

.username, .email, .tipo-usuario {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.editar-perfil {
    font-size: 18px;
    color: var(--cor-principal);
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
