/* resultado_busca.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin: 0;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #666666;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn-outline-secondary {
    color: #333333;
    border-color: #333333;
}

.btn-outline-secondary:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: #000;
}

.text-body-secondary {
    color: #888888;
    font-size: 14px;
}
.row {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    margin: 0 15px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(auto-fill, 300px);
    overflow: hidden;
}
.foto-cafe {
    display: flex;
    width: 100%;
    height: 225px;
    overflow: hidden;

    }
.box img {
width: 100%;
height: 100%;
}

.box1 img {
object-fit: cover;
}