@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
:root {

    --branco-principal: #F7F7FC;
    --cor-principal: #902C00;
    --preto-principal:#1D1D1B;
    --branco-navbar:#FFFFFF;
    --branco-fundo: #F9F9F9;
    --cor-glass-login-cadastro: #F9F9F9;
    --cor-botoes:#A75938;
    --fonte-principal: 'Bricolage Grotesque';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body{
    height: 100vh;
    background: #ffffff;
}

.container{
    background-color: var(--branco-fundo);
    box-shadow: rgba(0, 0, 0, 0.2) 0.5px 3px 2.6px;
    padding: 5rem;
    border-radius: 25px;
    width: 35vw;
}

.container form{
    display: flex;
    flex-direction: column;
}

.container form div{
    padding-bottom: 20px;
}

.container h1{
    color: var(--preto-principal);
    display: flex;
    font-weight: 800;
    font-size: 34px;
    padding-bottom: 20px;
}

.container form label{
    color: var(--preto-principal);
    font-weight: 500;
}
.container form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--preto-principal);
}

.container form .btn-submit {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--cor-botoes);
    color: var(--branco-navbar);
    padding: 18px;
    width: 150px;
    height: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 118px;
    margin-top: 10px;

}

.container form .btn-submit:hover {
    background-color: var(--cor-principal); 
    color: #FFFFFF;
}

.container form .signup-message {
    text-align: center; /* Centralizar a mensagem de cadastro */
    margin-top: 30px; /* Aumentar o espaço acima da mensagem de cadastro */
    font-size: 1rem;
    font-weight: 400; /* Ajustar o tamanho da fonte da mensagem, se necessário */
    color: #000000; /* Ajustar a cor da fonte */
}

p{
    font-weight: 400;
}

.btn{
    color: var(--cor-botoes);
    text-decoration: none;
}
.btn:hover{
    color: var(--cor-principal);
}
.radio-options {
    display: flex; /* Usa flexbox para alinhar os elementos filhos */
    justify-content: center; /* Centraliza os elementos filhos horizontalmente */
    gap: 10px; /* Adiciona um espaço entre os elementos filhos */
}

.radio-option {
    display: flex; /* Permite alinhar o input e o label horizontalmente */
    align-items: center; /* Centraliza verticalmente o input e o label */
}

/* Estilização adicional para o input e o label, se necessário */
.radio-option input[type="radio"] {
    margin-right: 5px; /* Espaço entre o botão de rádio e o rótulo */
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}



